$primary-color: #eb3b5a;

.userForm {
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        color: $primary-color;
        padding: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }    
    input {
        width: 40%;
        margin: 10px auto;
    }
    button {
        width: 120px;
        height: 30px;
        margin: 20px auto;
        border: 1px solid $primary-color;
        border-radius: 5px;
        background-color: $primary-color;
        color: white;

    }
    width: 80%;
    margin: 0 auto;
    border: 1px solid $primary-color;
    border-radius: 2%;
    height: 400px;
}